<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  <meta name="description" content="A place to free your mind and be whatever you want. Finding "Pleasures" in simplicity.">

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}

  {{'//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js' | script_tag}}
{% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
{% if template contains 'index' and hero_enabled %}
{% else %}
<div class="doc" {% if template contains 'page'%}style="background:pink;color:black;"{%endif%}>
{%endif%}
  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__fixed-header">
      <div class="drawer__header">
        <div class="drawer__close drawer__close--left">
          <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">

      {% comment %}
        Remove comment tags below to add a search box at the top of your pull-out menu.
      {% endcomment %}

      {% comment %}
      {% include 'search-bar', search_btn_style: 'btn--secondary', search_bar_location: 'search-bar--drawer' %}
      {% endcomment %}

      <!-- begin mobile-nav -->
      <ul class="mobile-nav">
        {% for link in linklists.mobile-menu.links %}
          {% comment %}
            Create a dropdown menu by naming a linklist the same as a link in the parent nav

            More info on dropdowns:
              - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
          {% endcomment %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
            <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %}" aria-haspopup="true">
              <div class="mobile-nav__has-sublist">
                <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
                <div class="mobile-nav__toggle">
                  <button type="button" class="icon-fallback-text">
                    <span class="icon-fallback-text mobile-nav__toggle-open">
                      <span class="icon icon-plus" aria-hidden="true"></span>
                      <span class="fallback-text">See More</span>
                    </span>
                    <span class="icon-fallback-text mobile-nav__toggle-close">
                      <span class="icon icon-minus" aria-hidden="true"></span>
                      <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
                    </span>
                  </button>
                </div>
              </div>
              <ul class="mobile-nav__sublist">
                {% for childlink in linklists[child_list_handle].links %}
                  <li class="mobile-nav__item{% unless template == 'index' %}{% if childlink.active %} mobile-nav__item--active{% endif %}{% endunless %}">
                    <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %}">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% comment %}
          Spacer element
        {% endcomment %}
        <li class="mobile-nav__spacer"></li>

        {% comment %}
          If customer accounts are enabled, provide login and create account links
        {% endcomment %}
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li class="mobile-nav__item mobile-nav__item--secondary">
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            </li>
            <li class="mobile-nav__item mobile-nav__item--secondary">
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
          {% else %}
            <li class="mobile-nav__item mobile-nav__item--secondary">
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
            {% if shop.customer_accounts_optional %}
            <li class="mobile-nav__item mobile-nav__item--secondary">
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </li>
            {% endif %}
          {% endif %}
        {% endif %}
        {% for link in linklists.footer.links %}
          <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
 <li class="mobile-nav__item mobile-nav__item--secondary"><a href="/search">Search</a></li>


      </ul>
      <!-- //mobile-nav -->
    </div>
  </div>
  <div id="CartDrawer" class="drawer drawer--right{% unless additional_checkout_buttons %} drawer--has-fixed-footer{% endunless %}">
    <div class="drawer__fixed-header">
      <div class="drawer__header">
        <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close">
          <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">
      <div id="CartContainer" class="drawer__cart"></div>
    </div>
  </div>

  <div id="PageContainer" class="is-moved-by-drawer">

    <div class="header-wrapper">
      <header class="site-header" role="banner">
        <div class="wrapper">
          <div class="grid--full grid--table">
            <div class="grid__item large--hide one-quarter">
              <div class="site-nav--mobile">
                <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                  <span class="icon icon-hamburger" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'general.drawers.browse' | t }}</span>
                </button>
              </div>
            </div>
            <div class="grid__item large--one-quarter medium-down--one-half">
              {% comment %}
                Use the uploaded logo from theme settings if enabled.
                Site name gets precedence with H1 tag on homepage, div on other pages.
              {% endcomment %}
              {% if template == 'index' %}
                <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
              {% else %}
                <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
              {% endif %}
                {% if settings.logo_use_image %}
                  {% comment %}
                    .logo--has-inverted is only applied to the default logo if the inverted logo exists. That way it'll only be hidden on the slider when it has a backup.
                  {% endcomment %}
                  {% assign logo_inverted_url = 'logo-inverted.png' | asset_url %}
                  <a href="{{ shop.url }}" itemprop="url" class="site-header__logo-link{% if settings.logo_use_inverted %} logo--has-inverted{% endif %}">
                   <svg width="127" height="21" viewBox="0 0 127 21" xmlns="http://www.w3.org/2000/svg"><title>Asset 2</title><g fill-rule="nonzero" ><path d="M0 .453h6.116C7.4.417 8.684.527 9.934.78c.76.153 1.454.48 2.007.945.455.424.768.94.91 1.5.188.897.268 1.81.237 2.72v1.71c.06.93-.096 1.86-.46 2.74-.345.61-.95 1.088-1.695 1.34-1.027.332-2.124.484-3.223.445H6.073v7.912H0V.452zm6.074 3.36V8.81h.446c.43.043.858-.084 1.163-.343.273-.44.385-.94.323-1.436V5.43c0-.672-.125-1.11-.377-1.312-.46-.25-1.01-.357-1.556-.303zM20.94.446v15.708h3.716v3.932h-9.79V.446M26.016.446h10.13v3.932H32.09V8.1h3.796v3.735H32.09v4.32h4.486v3.93h-10.56M49.037.45l3.472 19.636h-6.197l-.33-3.534h-2.17l-.367 3.53h-6.28l3.1-19.636 8.77.005zM45.85 13.08c-.307-2.223-.615-4.972-.923-8.247-.637 3.757-1.037 6.506-1.2 8.247h2.124zM66.46 6.358h-5.643V4.912c.048-.44-.026-.886-.218-1.3-.164-.194-.44-.3-.723-.28-.337-.012-.655.132-.828.375-.216.352-.313.747-.282 1.143-.034.508.075 1.015.318 1.48.445.514 1.035.926 1.715 1.2 2.705 1.352 4.408 2.46 5.11 3.322.7.862 1.053 2.258 1.06 4.185.073 1.055-.127 2.11-.584 3.093-.507.754-1.302 1.342-2.256 1.67-1.226.465-2.562.693-3.908.664-1.442.035-2.873-.232-4.162-.777-1.018-.4-1.822-1.105-2.257-1.976-.406-1.102-.586-2.255-.53-3.41v-1.284h5.643v2.387c-.05.484.032.972.244 1.424.193.226.516.347.845.317.366.017.713-.137.902-.402.225-.366.327-.776.298-1.187 0-1.157-.188-1.913-.563-2.267-.875-.672-1.826-1.27-2.84-1.785-1.048-.553-2.05-1.165-3-1.83-.54-.442-.958-.98-1.222-1.575-.352-.823-.516-1.695-.483-2.57 0-1.506.23-2.605.685-3.298.5-.732 1.27-1.307 2.193-1.638 1.174-.42 2.44-.62 3.716-.59 1.386-.03 2.762.188 4.036.644.942.302 1.725.877 2.21 1.62.353.65.53 1.756.53 3.315l-.005.778zM82.427.446V13.57c.027 1.044-.032 2.088-.175 3.124-.16.684-.518 1.325-1.04 1.866-.58.642-1.357 1.14-2.247 1.44-1.044.346-2.16.513-3.28.492-1.274.024-2.54-.173-3.717-.58-.95-.312-1.777-.837-2.395-1.517-.51-.58-.833-1.26-.94-1.973-.095-.69-.143-2.143-.143-4.36V.446h6.074v14.727c-.04.55.017 1.104.164 1.642.102.232.376.378.67.357.326.032.635-.132.743-.393.15-.613.205-1.238.165-1.862V.446h6.122zM84.95.46h4.3c1.952-.052 3.907.042 5.84.28 1.014.188 1.903.698 2.48 1.425.64.765.96 1.983.96 3.655 0 1.53-.227 2.555-.68 3.08-.453.523-1.34.845-2.665.967 1.204.25 2.012.586 2.426 1.01.358.333.62.73.77 1.16.144.963.196 1.934.155 2.904v5.178H92.87V13.57c0-1.05-.1-1.7-.297-1.953-.198-.253-.715-.378-1.55-.375V20.1H84.95V.46zm6.073 3.36v4.365c.494.035.99-.047 1.433-.237.273-.157.41-.67.41-1.535V5.338c.067-.436-.077-.877-.4-1.223-.426-.23-.933-.335-1.438-.294h-.005zM100.877.446h10.13v3.932h-4.056V8.1h3.797v3.735h-3.796v4.32h4.46v3.93h-10.533M125.935 6.358h-5.638V4.912c.043-.446-.04-.893-.24-1.308-.163-.195-.438-.302-.72-.28-.338-.013-.656.13-.83.374-.214.353-.312.747-.28 1.143-.034.51.075 1.016.318 1.482.445.513 1.034.925 1.715 1.2 2.704 1.35 4.407 2.458 5.107 3.32.7.863 1.055 2.26 1.062 4.187.07 1.053-.128 2.108-.585 3.09-.507.755-1.302 1.343-2.256 1.67-1.223.468-2.555.698-3.898.674-1.443.035-2.873-.232-4.163-.777-1.02-.4-1.823-1.105-2.257-1.976-.407-1.102-.586-2.255-.53-3.41v-1.284h5.643v2.387c-.053.483.03.968.24 1.42.192.225.514.346.843.316.365.017.713-.138.9-.402.226-.366.33-.776.3-1.187 0-1.157-.19-1.912-.564-2.266-.874-.673-1.826-1.27-2.84-1.785-1.048-.555-2.05-1.166-3-1.83-.54-.444-.958-.982-1.22-1.576-.354-.824-.518-1.696-.485-2.57 0-1.506.23-2.605.686-3.298.506-.734 1.284-1.307 2.214-1.634 1.174-.42 2.442-.62 3.717-.59 1.384-.03 2.76.188 4.035.644.94.302 1.724.877 2.208 1.62.354.65.53 1.756.53 3.315l-.015.778z"/></g></svg>
                  </a>
                  {% if settings.logo_use_inverted %}
                    <a href="{{ shop.url }}" itemprop="url" class="logo--inverted">
                      <img src="{{ 'logo-inverted.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                    </a>
                  {% endif %}
                {% else %}
                  <a href="/" itemprop="url">{{ shop.name }}</a>
                {% endif %}
              {% if template == 'index' %}
                </h1>
              {% else %}
                </div>
              {% endif %}
            </div>
            <div class="grid__item large right large--text-right medium-down--hide">
              {% comment %}
                List out your main-menu linklist (default)

                More info on linklists:
                  - http://docs.shopify.com/themes/liquid-variables/linklists
              {% endcomment %}
              <!-- begin site-nav -->
              <ul class="site-nav" id="AccessibleNav">
                <!-- <li class="site-nav__item site-nav--compress__menu">
                  <button type="button" class="icon-fallback-text site-nav__link site-nav__link--icon js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                    <span class="icon icon-hamburger" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'general.drawers.browse' | t }}</span>
                  </button>
                </li> -->
                {% for link in linklists.main-menu.links %}
                  {% comment %}
                    Create a dropdown menu by naming a linklist the same as a link in the parent nav

                    More info on dropdowns:
                      - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                  {% endcomment %}
                  {% assign child_list_handle = link.title | handleize %}
                  {% if linklists[child_list_handle].links != blank %}
                    <li class="site-nav__item site-nav__expanded-item site-nav--has-dropdown{% unless template == 'index' %}{% if link.active %} site-nav--active{% endif %}{% endunless%}" aria-haspopup="true">
                      <a href="{{ link.url }}" class="site-nav__link">
                        {{ link.title }}
                      </a>
                      <ul id="subNav">
                        <div class="wrapper">
                        {% for childlink in linklists[child_list_handle].links %}
                          <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                     
                            <a href="{{ childlink.url }}" class="site-nav__dropdown-link">{{ childlink.title | escape }}</a>
                          </li>
                        {% endfor %}
                        </div>
                      </ul>
              
                    </li>
                  {% else %}
                    <li class="site-nav__item site-nav__expanded-item{% unless template == 'index' %}{% if link.active %} site-nav--active{% endif %}{% endunless%}">
                      <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                      
                    </li>
                  {% endif %}
                {% endfor %}
                
                {% if shop.customer_accounts_enabled %}
                  <li class="site-nav__item site-nav__expanded-item">
                    <a class="site-nav__link site-nav__link--icon" href="/account">
                      <span class="icon-fallback-text">
                        <span class="icon icon-customer" aria-hidden="true"></span>
                        <span class="fallback-text">
                          {% if customer %}
                            {{ 'layout.customer.account' | t }}
                          {% else %}
                            {{ 'layout.customer.log_in' | t }}
                          {% endif %}
                        </span>
                      </span>
                    </a>
                  </li>
                {% endif %}

                {% comment %}
                Uncomment code below to add a search icon that points to the search page.
                {% endcomment %}

                {% comment %}
                <li class="site-nav__item">
                  <a href="/search" class="site-nav__link site-nav__link--icon">
                    <span class="icon-fallback-text">
                      <span class="icon icon-search" aria-hidden="true"></span>
                      <span class="fallback-text">{{ 'general.search.title' | t }}</span>
                    </span>
                  </a>
                </li>
                {% endcomment %}

                <li class="site-nav__item">
                  <a href="/cart" class="site-nav__link site-nav__link--icon cart-link js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                    <span class="icon-fallback-text">
                      <span class="icon icon-cart" aria-hidden="true"></span>
                      <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                    </span>
                    <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"><h3>{{ cart.item_count }}</h3></span>
                  </a>
                </li>
                  <div id="search-menu">
  <div class="wrapper">



    <form id="form" action="/search" method="get" role="search">
      <input id="popup-search" type="text" name="q" placeholder="Search our store"/>
      <button id="popup-search-button" type="submit" name="search"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg></button>
    </form>
  </div>
</div>
                 <li class="site-nav__item">
                
                   <svg id="search-icon" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                 
                </li>


              </ul>

              <!-- //site-nav -->
            </div>




            <div class="grid__item large--hide one-quarter">
              <div class="site-nav--mobile text-right">
                <a href="/cart" class="site-nav__link cart-link js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                  <span class="icon-fallback-text">
                    <span class="icon icon-cart" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                  </span>
                  <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"><h3>{{ cart.item_count }}</h3></span>

                </a>
              </div>
            </div>
          </div>

          {% comment %}
            Remove comment tags below to add a search box to your header.
          {% endcomment %}

          {% comment %}
          <div class="grid--full large--right medium-down--hide ">
            {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--header' %}
          </div>
          {% endcomment %}

        </div>
      </header>
    </div>

    <main class="main-content {% if template contains 'index' and hero_enabled %}{% elsif template %}pleasures {% endif %}" role="main">
      <div class="wrapper">
        {{ content_for_layout }}
      </div>
    </main>
      </div>

  {% if template contains 'index' and hero_enabled %}

  {% elsif template %}
  </div>
{% include 'footer' %}
  {% endif %}

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}

  {% if template contains 'index' and hero_enabled %}

  {% elsif template %}
  

<a target="_blank" href="https://m.me/152863035315093?ref=messenger_commerce_1163199097047119_https://pjh-test.myshopify.com/" id="messageus_button" class="messengermessageus--fixed facebook-message-us-button">
  
<?xml version="1.0" encoding="UTF-8"?>
<svg width="91px" height="33px" viewBox="0 0 91 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <rect id="path-1" x="0" y="0" width="91" height="33"></rect>
    </defs>
    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-819.000000, -1251.000000)">
        <g id="chat-messenger" transform="translate(819.000000, 1251.000000)">
            <g id="Rectangle">
                <use fill="#FFC0CB" fill-rule="evenodd" xlink:href="#path-1"></use>
                <rect stroke="#000000" stroke-width="1" x="0.5" y="0.5" width="90" height="32"></rect>
            </g>
            <text id="CHAT" font-family="Oswald-Regular, Oswald" font-size="16" font-weight="normal" fill="#000000">
                <tspan x="43" y="24">CHAT </tspan>
            </text>
            <g id="icons8-skull" transform="translate(14.000000, 7.000000)" fill="#000000" fill-rule="nonzero">
                <path d="M8.56830843,0.0012178801 C6.24258264,0.0174562814 4.12254365,0.679983262 2.56226507,2.01477964 C0.982887139,3.36581463 0,5.42159644 0,8.06845564 C0,10.8241122 0.902082043,12.5421353 1.18710446,13.0179204 C1.04018559,13.8915466 1.09307638,14.8755935 1.73951941,15.7329811 L1.75127292,15.7459718 C2.48586726,16.6699367 3.22486927,16.9070176 3.65534146,17.0710253 C3.87131229,17.1522175 3.98150153,17.215547 4.03145376,17.2788769 C4.08140637,17.3422067 4.13723535,17.4574995 4.13723535,17.7985057 C4.13723535,18.8572495 4.55595403,19.695151 5.33609332,20.1628169 C6.11623261,20.6304829 7.19461691,20.7863715 8.650583,20.7863715 C10.1065491,20.7863715 11.1849334,20.6304829 11.9650727,20.1628169 C12.745212,19.695151 13.1639307,18.8572495 13.1639307,17.7985057 C13.1639307,17.4574995 13.21976,17.3422067 13.2697122,17.2788769 C13.3196648,17.215547 13.4298537,17.1522175 13.6458245,17.0710253 C14.0762967,16.9070176 14.8152987,16.6699367 15.5498931,15.7459718 L15.5616466,15.7329811 C16.2080896,14.8755935 16.2609804,13.8915466 16.1140615,13.0179204 C16.3990843,12.5421353 17.301166,10.8241122 17.301166,8.06845564 C17.301166,5.42159644 16.3182789,3.36581463 14.7389009,2.01477964 C13.159523,0.663744653 11.0086308,0.0012178801 8.650583,0.0012178801 C8.63882949,0.0012178801 8.62707598,0.0012178801 8.61532247,0.0012178801 C8.5991613,-0.000405960032 8.5844696,-0.000405960032 8.56830843,0.0012178801 Z M8.59181545,0.832624026 C8.61091481,0.834247763 8.63148364,0.834247763 8.650583,0.832624026 C10.8808116,0.832624026 12.8700929,1.45780237 14.2805141,2.66431569 C15.6909352,3.87082901 16.5489414,5.64406243 16.5489414,8.06845564 C16.5489414,9.81408389 16.1493221,11.0887983 15.8202238,11.8617462 C15.6218832,11.204091 15.4206045,10.6536091 15.4206045,10.3937947 C15.423543,10.2655112 15.3721213,10.1437235 15.2825009,10.0625313 C15.1943496,9.98133952 15.075345,9.95048646 14.9622176,9.97809164 C14.7873841,10.0219354 14.6639722,10.1956864 14.6683799,10.3937947 C14.6683799,11.1651189 15.0841604,11.9559291 15.2913159,12.8100688 C15.3001312,12.8457935 15.307477,12.8782703 15.3148229,12.9139946 C15.3001312,13.0179204 15.3206996,13.125094 15.3735904,13.2127812 C15.4925946,13.9077848 15.4514573,14.5638162 14.9857246,15.1873708 C14.3657272,15.966814 13.8706103,16.0999691 13.3990008,16.2785913 C13.1624616,16.3679027 12.908292,16.4783238 12.7055438,16.7332666 C12.5027959,16.9882094 12.411706,17.3487021 12.411706,17.7985057 C12.411706,18.6526458 12.1869203,19.0910824 11.6124674,19.4353366 C11.0380145,19.7795907 10.0536583,19.9549654 8.650583,19.9549654 C7.24750771,19.9549654 6.26315147,19.7795907 5.6886986,19.4353366 C5.11424573,19.0910824 4.88945996,18.6526458 4.88945996,17.7985057 C4.88945996,17.3487021 4.79837045,16.9882094 4.59562222,16.7332666 C4.39287437,16.4783238 4.13870444,16.3679027 3.90216516,16.2785913 C3.43055568,16.0999691 2.93543919,15.966814 2.31544137,15.1873708 C1.84677009,14.5605687 1.8056328,13.8996657 1.92757556,13.1997905 C1.98340492,13.1088554 2.00544247,12.9968105 1.98634311,12.8880131 C1.99221986,12.860408 2.00397337,12.837674 2.00985013,12.8100688 C2.21700564,11.9559291 2.63278613,11.1651189 2.63278613,10.3937947 C2.6357247,10.2655112 2.584303,10.1437235 2.49468258,10.0625313 C2.40653126,9.98133952 2.28752669,9.95048646 2.17439926,9.97809164 C1.99956571,10.0219354 1.87615386,10.1956864 1.88056152,10.3937947 C1.88056152,10.6536091 1.67928277,11.204091 1.4809422,11.8617462 C1.15184393,11.0887983 0.752224609,9.81408389 0.752224609,8.06845564 C0.752224609,5.64406243 1.6102308,3.87082901 3.02065194,2.66431569 C4.41931958,1.46916936 6.38509423,0.843991011 8.59181545,0.832624026 Z M5.79448019,9.14668549 C4.81012395,9.21813446 3.95652504,9.9033952 3.63183444,11.0173493 C3.33358904,12.0517354 3.3247741,12.8539126 3.51429934,13.4596049 C3.70382459,14.0652971 4.09315987,14.4387806 4.48984063,14.6027883 L4.50159414,14.615779 C5.29642513,14.9161894 6.08391027,14.872346 6.73476095,14.524844 C7.38561163,14.1773424 7.89101254,13.5343017 8.14518209,12.6931523 L8.14518209,12.6801616 C8.32295383,12.0631024 8.30679303,11.3648513 8.09816805,10.7315535 C7.88954345,10.098256 7.45613269,9.52016893 6.80528201,9.28958342 C6.46443023,9.17266693 6.12210936,9.12232778 5.79448019,9.14668549 Z M11.2598621,9.14668549 C11.0086308,9.15642874 10.751523,9.20189626 10.495884,9.28958342 C9.84503331,9.52016893 9.41162293,10.098256 9.20299795,10.7315535 C8.99437334,11.3648513 8.97821217,12.0631024 9.15598391,12.6801616 L9.15598391,12.6931523 C9.41015346,13.5343017 9.91555437,14.1773424 10.566405,14.524844 C11.2172557,14.872346 12.0047409,14.9161894 12.7995719,14.615779 L12.8113254,14.6027883 C13.2080065,14.4387806 13.5973414,14.0652971 13.7868667,13.4596049 C13.9763919,12.8539126 13.967577,12.0517354 13.6693316,11.0173493 C13.344641,9.9033952 12.4910424,9.21813446 11.5066858,9.14668549 C11.4244112,9.14019013 11.3436058,9.14343802 11.2598621,9.14668549 Z M5.84149423,9.96510092 C6.07509532,9.95698182 6.32044993,9.99108236 6.58196533,10.0820174 C6.98452321,10.2249153 7.24456952,10.5691694 7.39295748,11.0173493 C7.53987635,11.4606576 7.5472222,11.9997725 7.42821801,12.4203472 C7.42674892,12.4235951 7.4296871,12.4300904 7.42821801,12.4333379 C7.22987744,13.082874 6.86258046,13.5278064 6.40566268,13.7713822 C5.94874491,14.0149584 5.3904532,14.0588018 4.76017135,13.8233451 C4.75723316,13.8217213 4.75135641,13.8249688 4.74841784,13.8233451 C4.54713909,13.7372816 4.3385141,13.5635306 4.21950991,13.1867997 C4.09903663,12.8051972 4.08287546,12.1832667 4.34879852,11.264173 C4.58827637,10.4457576 5.13922222,9.99108236 5.84149423,9.96510092 Z M11.4596718,9.96510092 C12.1619442,9.99108236 12.7128896,10.4457576 12.9523675,11.264173 C13.2182905,12.1832667 13.2021297,12.8051972 13.0816561,13.1867997 C12.9626519,13.5635306 12.7540269,13.7372816 12.5527482,13.8233451 C12.54981,13.8249688 12.5439332,13.8217213 12.5409946,13.8233451 C11.9107128,14.0588018 11.3524211,14.0149584 10.8955033,13.7713822 C10.4385855,13.5278064 10.0712886,13.082874 9.87294799,12.4333379 C9.87147889,12.4300904 9.87441708,12.4235951 9.87294799,12.4203472 C9.7539438,11.9997725 9.76128965,11.4606576 9.90820852,11.0173493 C10.0565965,10.5691694 10.3166432,10.2249153 10.7192007,10.0820174 C10.9807164,9.99108236 11.2260707,9.95698182 11.4596718,9.96510092 Z M8.58006194,13.7194193 C8.49044153,13.7405291 8.41110515,13.7957399 8.35674526,13.8753079 C8.35674526,13.8753079 8.06290752,14.2893873 7.76906979,14.7976491 C7.47523205,15.305911 7.14613378,15.8547692 7.14613378,16.4604614 C7.14613378,17.0190624 7.5339996,17.460747 7.96887945,17.460747 C8.30826213,17.460747 8.50366413,17.2480238 8.650583,17.0450439 C8.79750187,17.2480238 8.99290387,17.460747 9.33228655,17.460747 C9.7671664,17.460747 10.1550322,17.0190624 10.1550322,16.4604614 C10.1550322,15.8547692 9.82593395,15.305911 9.53209621,14.7976491 C9.23825847,14.2893873 8.94442074,13.8753079 8.94442074,13.8753079 C8.86508474,13.7648868 8.74167289,13.7064286 8.61532247,13.7194193 C8.60356896,13.7194193 8.59181545,13.7194193 8.58006194,13.7194193 Z M8.650583,14.849612 C8.74901874,14.9990053 8.77252575,15.023363 8.8974067,15.2393337 C9.16773742,15.7069996 9.40280761,16.3175635 9.40280761,16.4604614 C9.40280761,16.6504506 9.34844772,16.6293408 9.33228655,16.6293408 C9.37048564,16.6293408 9.25148108,16.5676351 9.15598391,16.4214893 C9.06048674,16.2753439 8.99143477,16.1227027 8.99143477,16.1227027 C8.92972904,15.9765573 8.79603277,15.8823743 8.650583,15.8823743 C8.50513322,15.8823743 8.37143734,15.9765573 8.30973122,16.1227027 C8.30973122,16.1227027 8.24067926,16.2753439 8.14518209,16.4214893 C8.04968492,16.5676351 7.93068073,16.6293408 7.96887945,16.6293408 C7.95271828,16.6293408 7.89835839,16.6504506 7.89835839,16.4604614 C7.89835839,16.3175635 8.13342858,15.7069996 8.4037593,15.2393337 C8.52864024,15.023363 8.55214726,14.9990053 8.650583,14.849612 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
</a>


  {% endif %}
  {% if template contains 'index' and hero_enabled %}
      <script src="//cdn.jsdelivr.net/npm/jquery.marquee@1.5.0/jquery.marquee.min.js" type="text/javascript"></script>

  <script type="text/javascript">
$(function () {
    $('.marquee').marquee({
        duration: 6000
    });
});

  </script>
  {% endif %}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if newHash %}
      $(function() {
        timber.updateHash('{{ newHash }}');
      });
    {% endif %}
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% if  hero_enabled %}

    {{ 'slick.min.js' | asset_url | script_tag }}
    {{ 'slick-theme.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        slickTheme.init({
          $element     : $('#Hero'),
          $headerClass : $('.header-wrapper'), // absolutely positioned inside $element
          fullscreen   : {{ hero_full_height }},
          parallax     : {{ hero_parallax }}
        });
      });
    </script>
  {% elsif template contains 'product' %}
    {{ 'slick.min.js' | asset_url | script_tag }}
    {{ 'scrolltofixed.min.js' | asset_url | script_tag }}
  {% endif %}

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          enableQtySelectors: true,
          moneyFormat: {{ shop.money_format | json }}
        });
      });


    </script>

  {% if settings.product_zoom_enable and template contains 'product' %}
    {{ 'magnific-popup.min.js' | asset_url | script_tag }}
  {% endif %}

  
  {% if  template contains 'product' %}

  <script type="text/javascript" src="https://cdn.shopify.com/s/files/1/2140/7529/files/jquery.zoom.min.js?957029597349428096" defer=”defer”>
</script>

<script>
  $(document).ready(function(){
    $('.image-zoom')
      .wrap('<span style="display:inline-block"></span>')
      .css('display', 'block')
      .parent()
      .zoom({
        url: $(this).find('img').attr('data-zoom')
      });
    });

</script>

  {% endif %}


  {% if template contains 'article' or template contains 'product' %}
    {% if settings.social_sharing_blog or settings.social_sharing_products %}
      {{ 'social-buttons.js' | asset_url | script_tag }}
    {% endif %}
  {% endif %}

  <!-- Gallery Script -->
<script language="javascript" type="text/javascript"> 
		function switch_product_img(divName, totalImgs) {
			for (var i=1; i<=totalImgs; i++) {
				var showDivName = 'photo_' + i;
				var showObj = document.getElementById(showDivName);
				if (showDivName == divName)
					showObj.style.display = 'block';
				else
					showObj.style.display = 'none';
				}
			}
		</script> 
<!-- End Gallery Script -->
<!--       <script type="text/javascript">
  $('.site-nav--has-dropdown').hover(function() {
    $(this).find('#subNav').stop(true, true).delay(100).fadeIn(50);
  }, function() {
    $(this).find('#subNav').stop(true, true).delay(100).fadeOut(50);
  });
  </script> -->
  <!-- Mail Chimp Pop-up -->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us11.list-manage.com","uuid":"848b4ae15293bea56b8ae2209","lid":"13d4de21b6"}) })</script>
  <!-- End Mail Chimp Pop Up -->
</body>
</html>

